.container {
    display: grid;
    grid-template-columns: 8.5fr 1.5fr;
    height: 100%;
}

.item-container {
    position: fixed;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 5vw;
    width: 70vw;
    height: 100vh;
}
.recommended-items-container {
    overflow: auto;
    grid-column: 2;
    border-left: black;
    border-style: solid;
    border-width: 0 0 0 2px;
    height: 100vh;
}

.recommended-items {
    margin: 0 36px 0 36px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.item-container__photo {
    margin-top: 70px;
}

.item-container__photo > img {
    height: 60vh;
    width: 30vw;
    object-fit: contain;
}

.add-to-cart-button {
    text-align: center;
    font-size: .9em;
    font-weight: 800;
    width: 9vw;
    padding: .4em;
    border: 1px solid #000;
    background-color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
}
  
.unavailable {
    border: 2px solid rgb(220,20,60);
    color:rgba(0,0,0,0.6);
}

.available {
    border: 2px solid rgb(47, 224, 12);
}

@media only screen and (max-width: 1024px) {
    .item-container {
        position: fixed;
        grid-row: 1;
        flex-direction: column;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .recommended-items-container {
       display: none;
    }

    .item-container__info {
        margin-left: 0 !important;
    }

    .selectors {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .size-selector {
        margin: 8px 0 0 0 !important;
        width: 20vw !important;
    }

    .add-to-cart-button {
        width: 20vw;
        margin-top: 8px;
    }

    .item-container__photo > img {
        width: 80vw;
        height: 40vh;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: unset;
    }

    .item-container {
        position: unset;
        flex-direction: column;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100vh;
    }

    .add-to-cart-button {
        width: 40vw;
    }

    .item-container__photo {
        margin-top: 70px;
    }

    .recommended-items-container {
        display: none;
    }

    .item-container__photo > img {
        width: 60vw;
    }

    .add-to-cart-button {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .item-container {
        height: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .item-container__photo > img {
        width: 40vw;
        height: 30vh;
    }

    .item-container__info > h2 {
        margin: 0 !important;
        font-size: 1.3rem;
    }

    .additional-info {
        margin-top: 12px !important;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .item-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .item-container__photo > img {
        width: 40vw;
        height: 75vh;
        margin-top: 0 !important;
    }

    .item-container__photo {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .item-container__photo > img {
        width: 40vw;
        height: 70vh;
    }

    .item-container__photo {
        margin-top: 60px !important;
    }

    .add-to-cart-button {
        width: 20vw;
    }
}