.shopping-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.shop-grid {
  padding: 24px 5vw 24px 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.shop-grid__item {
  width: 25%;
}

.shop-grid__item-info {
  margin: 16px 22px;
  text-align: center;
}

.shop-grid__item-info img {
  width: 18vw;
  height: 35vh;
  object-fit: contain;
  transition: .5s ease;
}

.shop-grid__item-info h2 {
  font-size: 18px;
  margin: 12px 0 0 0;
}

.shop-grid__item-info h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0px;
}

.item-image:hover {
  transform: scale(1.05);
}

.shop-text h1 {
  font-size: 3rem;
  margin: 0 !important;
}

.shop-text h3 {
  font-size: 1rem;
  margin-top: 6px !important;
}

.shop-text {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .item-image:hover {
    transform: scale(1);
  }
  .shop-grid__item {
    width: 50%;
  }
  .shop-grid__item-info img {
    width: 30vw;
    height: 30vh;
  }
  .shop-grid__item-info h2 {
    font-size: 22px;
  }
  .shop-grid__item-info h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .shop-grid__item-info h2 {
    font-size: 14px;
  }
  .shop-grid__item-info h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 760px) {
  .item img {
    height: auto;
    width: 80vw;
    margin: 12px 0 12px 0;
  }
  .shop-text h1 {
    font-size: 2rem;
  }
  .shop-text h3 {
    font-size: 0.8rem;
    opacity: 0.8;
    line-height: 12px;
  }
  .item-image:hover {
    transform: scale(1);
  }
  .shop-grid {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 500px) {
  .shop-grid__item {
    width: 100%;
  }
  .shop-grid__item-info img {
    width: 80vw;
    height: 50vh;
  }
  .shop-grid__item-info h2 {
    font-size: 18px;
  }
  .shop-grid__item-info h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .shop-text h1 {
    font-size: 2rem;
  }
  .shop-text h3 {
    font-size: 0.8rem;
  }
  .shop-grid {
    padding: 12px 5vw 12px 5vw;
  }
  .shop-grid__item-info img {
    width: 40vw;
    height: 45vh;
  }
  .shop-grid__item-info h2 {
    font-size: 18px;
  }
  .shop-grid__item-info h3 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .shop-grid__item-info img {
    width: 40vw;
    height: 70vh;
  }
  .shop-grid__item-info h2 {
    font-size: 18px;
  }
  .shop-grid__item-info h3 {
    font-size: 15px;
  }
}