.image-zoom-container {
    position: absolute;
    left: calc(45% + 30px);
    bottom: auto;
    margin-top: 60px;
    width: 30vw;
    height: 60vh;
    z-index: 100;
}

@media only screen and (max-width: 1024px) {
    .image-zoom-container {
        display: none !important;
    }
}