.faq-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0 8vw 0 8vw;
  margin-top: 100px;
}

.faq-list {
  margin-left: 40px;
  text-align: left;
}

.faq-list ol {
  list-style-type: none;
}

@media only screen and (max-width: 1024px) {
  .faq-screen {
    display: flex;
    flex-direction: row;
    padding: 0 4vw 0 4vw;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 760px) {
  .faq-screen {
    grid-row-gap: 0 !important;
    padding: 0 8vw 0 8vw;
    margin-top: 70px;
  }
  .faq-list {
    margin: 0 !important;
  }
  .faq-list ol {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .faq-screen {
    padding-top: 5vh;
    padding: 0 8vw 0 8vw;
    margin-top: 70px;
    height: auto;
  }
}