.faq-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 0 10vw 0 10vw;
  }
  
  .faq-list {
    margin-left: 40px;
    text-align: left;
  }
  
  .faq-list hr {
    border-bottom-style: dashed;
    border-width: 0 0 2px 0;
    width: 20%;
    padding-top: 10px;
  }
  
  .faq-image img {
    width: 20vw;
  }
  
  .faq-list ol {
    list-style-type: none;
  }
  
  .faq-list li {
    margin: 0 0 30px 0;
    position: relative;
  }
  
  .faq-list span {
    font-size: 2.5rem;
    text-decoration: none;
    position: absolute;
    margin: 0 !important;
    color: rgb(255,165,121);
  }
  
  .faq-list h2 {
    font-size: 1.7rem;
    margin: 0 !important;
    position: relative;
    padding-left: 70px;
    text-transform: uppercase;
  }
  
  .faq-list p {
    font-size: 1rem;
    position: relative;
    margin: 0 !important;
    padding-left: 70px;
    padding-bottom: 12px;
  }

  @media only screen and (max-width: 768px){

    .faq-screen {
        display: grid;
        grid-row-gap: 0 !important;
        padding-top: 5vh;
        justify-content: center;
    }

    .faq-list {
        grid-column: 1;
        grid-row: 2;
        margin-left: 20px;
        margin-top: 100px
    }

    .faq-image {
        align-items: center;
        margin: 0 auto;
    }

    .faq-image img {
        grid-column: 1;
        grid-row: 1;
        width: 20vw;
        padding-top: 2vh;
        margin: auto;
    }

    .faq-list {
        margin: 0 !important;
    }

    .faq-list ol {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
    }

    .item2 {
        grid-column: 2;
        grid-row: 3;
    }

    .item3 {
        grid-column: 1;
        grid-row: 3;
    }

    .item4 {
        grid-column: 2;
        grid-row: 1;
    }

    .item5 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .faq-list li {
        margin: 5px 0;
        background-color: rgba(255,165,121,0.15);
        border-radius: 15px;
        padding: 10px 5px;
    }

    .faq-list span {
        font-size: 1.5rem;
    }

    .faq-list h2 {
        font-size: .75rem;
        margin: 0 !important;
        padding-left: 40px;
    }

    .faq-list p {
        font-size: .65rem;
        margin: 0 !important;
        padding-left: 40px;
        padding-bottom: 12px;
    }
}