.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  
  .logo a {
    color: #000;
  }
  
  .nav .nav-links a{
    margin-right: 25px;
    font-size: 1rem;
    color: #000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media only screen and (max-width: 768px){
    .nav {
        padding: 0 12px 0 18px;
      }
    
      .nav .nav-links a{
        margin-right: 12px;
        font-size: 0.8rem;
      }
    
      .logo {
        font-size: 1.5rem;
        font-weight: bold;
      }
  }