.recommended-item__image {
    width: 15vw;
    height: 27vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.recommended-item__title {
    font-size: 1rem;
    margin-top: 0;
}

.small-divider {
    margin-top: 24px;
}