.faq-unit {
    margin: 0 0 30px 0;
    position: relative;
}

.faq-unit__num {
    font-size: 3.3rem;
    text-decoration: none;
    position: absolute;
    margin: 0 !important;
    color: rgb(255, 165, 121);
}

.faq-unit__question {
    font-size: 2rem;
    margin: 0 !important;
    position: relative;
    padding-left: 80px;
    text-transform: uppercase;
}

.faq-unit__answer {
    font-size: 1.4rem;
    position: relative;
    margin: 0 !important;
    padding-left: 80px;
    padding-bottom: 12px;
}

@media only screen and (max-width: 1020px) {
    .faq-unit__num {
        font-size: 3rem;
    }
    .faq-unit__question {
        font-size: 1.7rem;
    }
    .faq-unit__answer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 760px) {
    .faq-unit {
        margin: 5px 0;
        background-color: rgba(255, 165, 121, 0.15);
        border-radius: 15px;
        padding: 10px 5px;
    }
    .faq-unit__num {
        font-size: 1.5rem;
    }
    .faq-unit__question {
        font-size: .75rem;
        margin: 0 !important;
        padding-left: 40px;
    }
    .faq-unit__answer {
        font-size: .65rem;
        margin: 0 !important;
        padding-left: 40px;
        padding-bottom: 12px;
    }
}