.item-container__info {
    margin-left: 5vw;
}

.item-container__info h2 {
    margin-bottom: 0 !important;
}

.author-tag {
    margin: 0 !important;
    opacity: 0.7;
}

.additional-info {
    margin-top: 18px;
}

.additional-info p {
    margin: 0;
    margin-bottom: 2px !important;
}

.additional-info h2 {
    margin-top: .7rem;
}

#size-selector {
    background-image: url(https://www.flaticon.com/svg/static/icons/svg/35/35762.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .2em top 50%, 0 0;
    background-size: 1.2em auto, 100%;
}

.size-selector {
    display: block;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 1;
    width: 10vw;
    padding: .4em .4em .3em .6em;
    box-sizing: border-box;
    margin: 1rem 0;
    border: 1px solid #000;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 5px;
}

.size-selector:focus, .add-to-cart-button, .size-chart-button {
    outline: none;
}

.color_selector {
    display: flex;
    margin-top: 8px;
}

.color_selector__color {
    border: 1px solid;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 6px;
} 

@media only screen and (max-width: 1024px) {
    .item-container__info>h2 {
        font-size: 2rem;
    }
    .author-tag {
        font-size: 1.5rem;
    }
    .additional-info>p {
        font-size: 1.5rem;
    }
    .additional-info>h2>span {
        font-size: 1.5rem;
    }
    .additional-info>h2 {
        margin-top: 0 !important;
    }
    .size-selector {
        margin: 8px 0 8px 0 !important;
        height: 2.3rem;
    }
    .color_selector {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .additional-info {
        margin-top: 8px;
    }
    .size-selector {
        font-size: 1rem;
        width: 40vw !important;
        margin: 8px 0 0 0 !important;
        margin: 1rem auto;
        height: 2rem;
    }
    .item-container__info>h2 {
        font-size: 1.5rem;
    }
    .author-tag {
        font-size: 1rem;
    }
    .additional-info>h2>span {
        font-size: 1.3rem;
    }
    .additional-info>h2 {
        margin-top: 0 !important;
    }
    .additional-info>p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .item-container__info>h2 {
        margin-top: 0 !important;
        font-size: 1.5rem;
    }
    .author-tag {
        font-size: 1rem;
    }
    .additional-info>h2>span {
        font-size: 1.3rem;
    }
    .additional-info>h2 {
        margin-top: 0 !important;
    }
    .additional-info>p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .item-container__info {
        margin-top: 60px;
    }
    .item-container__info>h2 {
        margin-top: 0 !important;
        font-size: 1.2rem;
    }
    .author-tag {
        font-size: 0.9rem;
    }
    .additional-info>h2>span {
        font-size: 1.1rem;
    }
    .size-selector {
        font-size: 1rem;
        width: 20vw !important;
        margin: 8px 0 0 0 !important;
        margin: 1rem auto;
        height: 1.8rem;
    }
}