html, body {
  background-color: #fff;
  font-family: 'Rubik', sans-serif !important;
  margin: 0 !important;
  overflow-x: hidden !important;
  height: auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  text-decoration: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');